.homePage {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
}

.pageContent {
    padding: 2%
}

.button {
    text-decoration: none;
    color: #000
}

@media (max-width: 800px) {
    .homePage {
        margin: 5%;
    }
}